<h1>Update Profile</h1>


<label>Email id</label>
<input ng-model="profile.email" class="form-control" placeholder ={{model.oldprofile.email}}>


<label>First Name</label>
<input ng-model="profile.firstname" class="form-control" placeholder ={{model.oldprofile.firstname}}>


<label>Last Name</label>
<input ng-model="profile.lastname" class="form-control" placeholder={{model.oldprofile.lastname}}>


<label>Date Of Birth</label>
<input ng-model="profile.dob" class="form-control" placeholder= {{model.oldprofile.dob}} >


<label>Gender</label>
<input ng-model="profile.gender" class="form-control" placeholder= {{model.oldprofile.gender}}>


<label>Address</label>
<textarea ng-model="profile.address" class="form-control" placeholder= {{model.oldprofile.address}}></textarea>


<label>Phone</label>
<textarea ng-model="profile.phone" class="form-control" placeholder= {{model.oldprofile.phone}}></textarea>

<div class="form-row">
    <label for="projectSkills">Select Skills</label>
    <select multiple class="form-control" id="projectSkills" required="" ng-model="model.selectedSkills">
        <option ng-repeat="each in model.allSkills" ng-selected=model.allSkills.id==model.userSkills.id value="{{each}}">{{each.name}}</option>

         <!-- <option ng-selected="u.selected" ng-repeat="each in model.allSkills" value="{{model.userSkills.id}}={{model.allSkills.id}}"></option>
           -->
    </select>
</div>
<!--
<div class="form-row">
    <label for="projectSkills1">Sample Select Skills</label>
    <select multiple class="form-control" required= "" id="projectSkills1" ng-model="model.selectedSkills">

         <option ng-repeat="each in model.allSkills" ng-selected="model.commonSkills.id" value="{{each}}">{{each.name}}{{model.commonSkills.name}}</option>

    </select>
</div>
-->



<div ng-repeat="item in model.selectedSkills">Komal {{item}}</div>

<div ng-repeat="item in model.userSkills">{{item.skill.id}}</div>

<label>Occupation</label>
<input ng-model="profile.occupation" class="form-control" placeholder= {{model.oldprofile.occupation}}>

<label>Experience</label>
<textarea ng-model="profile.experience" class="form-control" placeholder= {{model.oldprofile.experience}}></textarea>

<label>Description</label>
<input ng-model="profile.description" class="form-control" placeholder= {{model.oldprofile.description}}>

<button ng-click="model.updateProfile(profile)" class="btn btn-primary btn-block">Update</button>

